.align-left {
  text-align: left;
}

.card {
  width: 27em;
  margin: 0.25em;
}

.fill-horizontal {
  width: 100%;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.no-margin {
  margin: 0;
}

.sidenav {
  width: 15em;
}

.sidenav-container {
  height: 93%;
}

.center {
  text-align: center;
}

.toolbar {
  height: 7%;
}
