.align-left {
  text-align: left;
}

.card {
  width: 27em;
  margin: 0.25em;
}

.center {
  text-align: center;
}

.fill-horizontal {
  width: 100%;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.no-margin {
  margin: 0;
}

.sidenav {
  width: 200px;
}

.sidenav-container {
  height: 100%;
}

.sidenav .mat-toolbar {
  background: inherit;
}
